<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  $(function(){
    setInterval(function(){
      console.log('get');
      var inTable = "";
      $.get("/getQuestions", function(questions1, status1){
        $.get("/getAnswers", function(answers1, status2){
          if(!status1 || !status2) {console.log(status1 + " " + status2)}
          if(questions1.length>answers1.length) {
            for(var i = 0; i < questions1.length; i++) {
              inTable += "<tr><td>" + questions1[i].question +
              "<form action='/removeQuestion' method='POST'>" +
                "<input style='display:none' type='textarea' name='question' readonly='true' value='" + questions1[i].question + "'/>" +
                "<input type='submit' name='submit' value='x'/>" +
              "</form></td><td>";
              if(i < answers1.length) {
                inTable += answers1[i].answer +
                "<form action='/removeAnswer' method='POST'>" +
                  "<input style='display:none' type='textarea' name='answer' readonly='true' value='" + answers1[i].answer + "'/>" +
                  "<input type='submit' name='submit' value='x'/>" +
                "</form></td></tr>";
              } else { inTable += "</td></tr>"}
            }
          } else {
            for(var i = 0; i < answers1.length; i++) {
              if(i < questions1.length) {
                inTable += "<tr><td>" + questions1[i].question +
                "<form action='/removeQuestion' method='POST'>" +
                  "<input style='display:none' type='textarea' name='question' readonly='true' value='" + questions1[i].question + "'/>" +
                  "<input type='submit' name='submit' value='x'/>" +
                "</form></td><td>";
              } else {
                inTable += "<tr><td></td><td>"
              }
              inTable += answers1[i].answer +
              "<form action='/removeAnswer' method='POST'>" +
                "<input style='display:none' type='textarea' name='answer' readonly='true' value='" + answers1[i].answer + "'/>" +
                "<input type='submit' name='submit' value='x'/>" +
              "</form></td><tr>";
            }
            $('table').html("<tr><td><strong>Questions</strong></td><td><strong>Answers</strong></td></tr>" + inTable);
          }
        });
      });
    }, 1000);
  });

  </script>
  <style>
  #main {
    text-align:center;
  }
  .add {
    width:200px;
    height:50px;
    background-color:black;
    color:white;
    outline: none;
  }
  table, tr, td {
    border: 1px solid black;
  }
  .sideview {
    position:static;
    left:10px;
    top: 10px;
    margin: 5px;
    display: inline-block;
    width:auto;
  }
  </style>
</head>
<body>
  <div class='sideview'><form action='/restart' method="POST">
    <input class='sideview' type="submit" name = "submit" value="restart"/>
  </form></div>
  <div class='sideview'>
    <form action='/home' method="POST">
      <input type="submit" name="submit" value="back"/>
    </form>
  </div>
<div id="main">
<p>Add some Cards!</p>
<p>We bouta get this _____</p>

<form action='/newQuestion' method="POST">
  <input class='add' type="textarea" name="question" placeholder="Add a question"/>
  <input type="submit" name="submit"/>
</form>

<form action='/newAnswer' method="POST">
  <input class='add' type="textarea" name="answer" placeholder="Add an Answer"/>
  <input type="submit" name="submit"/>
</form>

<table align='center'>
  <tr>
    <td><strong>Questions</strong></td>
    <td><strong>Answers</strong></td>
  </tr>
  <% if(questions.length>answers.length) { %>
    <% for(var i = 0;i<questions.length;i++) { %>
      <tr>
        <td><%= questions[i].question %>
          <form action='/removeQuestion' method='POST'>
            <input style='display:none' type="textarea" name="question" readonly="true" value='<%=questions[i].question %>'/>
            <input type='submit' name='submit' value='x'/>
          </form>
        </td>
        <% if(i<answers.length) { %>
          <td><%= answers[i].answer %>
            <form action='/removeAnswer' method='POST'>
              <input style='display:none' type="textarea" name="answer" readonly="true" value='<%=answers[i].answer %>'/>
              <input type='submit' name='submit' value='x'/>
            </form>
          </td>
        <% } else { %>
          <td></td>
        <% } %>
      </tr>
    <% } %>
  <% } else { %>
    <% for(var i = 0;i<answers.length;i++) { %>
      <tr>
        <% if(i<questions.length) { %>
          <td><%= questions[i].question %>
            <form action='/removeQuestion' method='POST'>
              <input style='display:none' type="textarea" name="question" readonly="true" value='<%=questions[i].question %>'/>
              <input type='submit' name='submit' value='x'/>
            </form>
          </td>
        <% } else { %>
          <td></td>
        <% } %>
        <td><%= answers[i].answer %>
          <form action='/removeAnswer' method='POST'>
            <input style='display:none' type="textarea" name="answer" readonly="true" value='<%=answers[i].answer %>'/>
            <input type='submit' name='submit' value='x'/>
          </form>
        </td>
      </tr>
    <% } %>
  <% } %>
</table>

</div>
</body>
</html>
